In [6]:
## Bibliotecas necessárias 

# Biblioteca para Modelagem
import numpy as np
import pandas as pd

# Biblioteca para análise gráfica
import matplotlib.pyplot as plt
import plotly.graph_objects as go
import seaborn as sns

# Ignorar avisos
import warnings
warnings.filterwarnings('ignore')

In [12]:
# Lendo a base de dados e visulizando as 5 primeiras linhas
BaseDados = pd.read_csv("MRFG3.SA.csv")
BaseDados.head(6)

         Date   Open   High    Low  Close  Adj Close    Volume
0  2021-01-04  14.66  14.79  14.16  14.30  11.246990   8144400
1  2021-01-05  14.29  14.33  13.98  14.21  11.176205   7203500
2  2021-01-06  14.20  14.26  13.75  13.78  10.838008  11868700
3  2021-01-07  13.86  14.09  13.79  13.84  10.885200   6188000
4  2021-01-08  13.90  14.16  13.88  14.01  11.018906   7752900
5  2021-01-11  13.97  14.14  13.81  13.96  10.979581   8744800